* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header,footer {
    height: 217px;
    clear: both;
    border: 3px solid black;
}
h1 {
    font-size: 100px;
    text-align: center;
}
section {
    font-size: 25px;
    height: 500px;
    text-align: center;
    border: 3px solid black;
}
.section-1, .section-4 {
    width: 25%;
    float: left;
}
.section-2 {
    width: 33.33%;
    float: left;
}
.section-3 {
    width: 16.66%;
    float: left;
}
footer {
    font-size: 25px;
    text-align: center;
}
